{% extends 'layout.html' %}

{% block content %}

    <section class="background-section">
            <div class="background-container">
            <img src="static/imagenes/carreras.jpg" alt="">
            <div class="background-text">
                <h1>CARRERAS UNIVERSITARIAS</h1>
                <p><a href="/">Inicio</a> » <span class="extrabold">Carreras</span></p>
            </div>
            </div>
    </section>

    <section class="center">
        <section class="carreras-width">
            <section class="nav-header">
                <h3>Índice</h3>
                <div class="nav-header-links">
                    <a href="#tipo">Tipo de Universidades</a>
                    <a href="#donde">¿Dónde estudiar?</a>
                    <a href="#king">Ranking</a>
                    <a href="#">Tipo de Universidades</a>
                    <a href="#">Tipo de Universidades</a>
                </div>
            </section>
        <section class="carreras-informacion">
            <h2>1. Carreras universitarias Argentinas:</h2>
            <p>En Argentina, la elección de una carrera universitaria es una decisión crucial que marca el rumbo de la vida académica y profesional de cada estudiante. Dos de las disciplinas más destacadas en el país son la Abogacía y la Programación, cada una ofreciendo un conjunto único de desafíos y oportunidades.</p>
            <h2>¿Sabías que...?:</h2>
            <p>En Argentina, hay algunas carreras que son menos comunes o que directamente no existen debido a la estructura educativa y las demandas del mercado laboral. </p>
            <p>Por ejemplo, carreras especializadas en la investigación de fenómenos meteorológicos extremos o la criptografía avanzada pueden no estar ampliamente disponibles en el país. La dinámica del mercado laboral y las necesidades cambiantes de la sociedad pueden influir en la oferta de programas académicos en Argentina. </p>
            <p>Por lo tanto, es importante investigar a fondo antes de tomar una decisión sobre la carrera a seguir.</p>
            
        </section>

{% endblock %}